<style type="text/css">
  h1 {
    color: red;
    background-color: pink;
  }
  
  body {
    background-color: pink;
  }

  #basic {
    color: black;
    background-color: yellow;
  }

  #alex {
    color: black;
    background-color: orange;
    font-family: "Copperplate", fantasy;
  }

  #dozie {
    color: pink;
    background-color: purple;
    font-family: "Copperplate", fantasy;
  }
</style>





